- content_for :breadcrumb do
  - if can? :show, @hanich.kvutza.ken.mahoz
    %span= link_to @hanich.kvutza.ken.mahoz.name, url_for(:mahoz_show, :mahoz_id => @hanich.kvutza.ken.mahoz.name)
  - else
    %span= @hanich.kvutza.ken.mahoz.name
  %span= " &raquo; "
  - if can? :show, @hanich.kvutza.ken
    %span= link_to " "+@hanich.kvutza.ken.name, url_for(:ken_show, :mahoz_id => @hanich.kvutza.ken.mahoz.name, :ken_id => @hanich.kvutza.ken.name)
  - else
    %span= " "+@hanich.kvutza.ken.name
  %span= " &raquo; "
  - if can? :show, @hanich.kvutza
    %span= link_to " "+@hanich.kvutza.name, url_for(:kvutza_show, :mahoz_id => @hanich.kvutza.ken.mahoz.name, :ken_id => @hanich.kvutza.ken.name, :kvutza_id => @hanich.kvutza.name)
  - else
    %span= " "+@hanich.kvutza.name
  %span= " &raquo; "
  - if can? :show, @hanich
    %span= link_to " "+@hanich.full_name, url_for(:hanich_show, :mahoz_id => @hanich.kvutza.ken.mahoz.name, :ken_id => @hanich.kvutza.ken.name, :kvutza_id => @hanich.kvutza.name, :hanich_id => @hanich.full_name)
  - else
    %span= " "+@hanich.full_name
  %span= " &raquo; "
  %span= " עריכה"


%h2 עריכת החניך #{@hanich.full_name}

= partial "hanich/form"
  
