- content_for :breadcrumb do
  - if can? :show, @hanich.kvutza.ken.mahoz
    %span= link_to @hanich.kvutza.ken.mahoz.name, url_for(:mahoz_show, :mahoz_id => @hanich.kvutza.ken.mahoz.name)
  - else
    %span= @hanich.kvutza.ken.mahoz.name
  %span= " &raquo; "
  - if can? :show, @hanich.kvutza.ken
    %span= link_to " "+@hanich.kvutza.ken.name, url_for(:ken_show, :mahoz_id => @hanich.kvutza.ken.mahoz.name, :ken_id => @hanich.kvutza.ken.name)
  - else
    %span= " "+@hanich.kvutza.ken.name
  %span= " &raquo; "
  - if can? :show, @hanich.kvutza
    %span= link_to " "+@hanich.kvutza.name, url_for(:kvutza_show, :mahoz_id => @hanich.kvutza.ken.mahoz.name, :ken_id => @hanich.kvutza.ken.name, :kvutza_id => @hanich.kvutza.name)
  - else
    %span= " "+@hanich.kvutza.name
  %span= " &raquo; "
  %span= " #{@hanich.full_name}"

%h2 #{@hanich.full_name}

#hanich-details
  %p טלפון: #{@hanich.phone}
  %p טלפון נוסף: #{@hanich.phone_2}
  %p תעודת זהות: #{@hanich.tz}
  %p כתובת: #{@hanich.address}
  %p שם האב: #{@hanich.dad}
  %p תעודת זהות: #{@hanich.mom}


%h3 פעולות שבהם השתתף #{@hanich.first_name}
%table{:class => 'datatable', :id => "hanich-mifgashim-table"}
  %thead
    %tr
      %th תאריך
      %th סוג
      %th כותרת
      %th בנים
      %th בנות
      %th סה"כ
      %th אפשרויות
  %tbody
    - @hanich.mifgashim.each do |m|
      %tr
        %td= m.date.strftime("%m/%d/%y")
        %td= m.kind
        %td= m.name
        %td= m.boys
        %td= m.girls
        %td= m.girls+m.boys
        %td
          = link_to "פרטים מלאים"

